<div class="container-fluid">
    <p>this is the information for the customer</p>

</div>


<div class="container-fluid">
    <form class="form-group">

        <div class="form-group">
            <label>username</label>
            <input type="text" class="form-control" ng-model="user.username"/>
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" ng-model="user.password"/>
        </div>
        <div class="form-group">
            <label>firstname</label>
            <input type="text" class="form-control" ng-model="user.firstname"/>
        </div>
        <div class="form-group">
            <label>lastname</label>
            <input type="text" class="form-control" ng-model="user.lastname"/>
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" ng-model="user.email"/>
        </div>
        <div class="form-group">
            <label>mobile</label>
            <input type="text" class="form-control" ng-model="user.mobile"/>
        </div>

        <div>
            <button type="button" class="btn btn-success" ng-click="editUser()">saveeeeee</button>
            <button type="button" class="btn btn-success" ng-click="closeRegister()">cancel</button>
        </div>

    </form>


</div>