<div class="container-fluid">
    <h2>hello, {{loggedUser}}</h2>
    <div class="jumbotron">
    <h3>my basic information</h3>
        <p>firstname: {{theUser.firstname}}</p>
        <p>lastname: {{theUser.lastname}}</p>
        <p>email: {{theUser.email}}</p>
        <p>mobile: {{theUser.mobile}}</p>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <h3>my accounts</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>account id</th>
                    <th>account type</th>
                    <th>account number</th>
                    <th>account balance</th>
                    <th>action</th>
                </tr>
                </thead>

                <tbody ng-repeat="account in myAccounts">
                <tr>
                    <td>{{account.accountid}}</td>
                    <td>{{account.accounttype}}</td>
                    <td>{{account.accountnumber}}</td>
                    <td>{{account.accountbalance}}</td>
                    <td>
                        <a href="#/transfer/{{account.accountnumber}}" >transfer</a>
                    </td>
                </tr>
                </tbody>

            </table>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron">
        <h3>my transactions</h3>
        <table class="table">
            <thead>
            <tr>
                <th>account type</th>
                <th>account number</th>
                <th>account balance</th>
            </tr>
            </thead>
            <tbody ng-repeat="account in xxx">




            </tbody>
        </table>

    </div>
</div>