<div class="container-fluid">
    <form class="form-group">
        <header>
            <h3>Please fill in information for new user</h3>
        </header>
        <div class="form-group">
           <label>username</label>
           <input type="text" class="form-control" ng-model="newUser.username"/>
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" ng-model="newUser.password"/>
        </div>
        <div class="form-group">
            <label>firstname</label>
            <input type="text" class="form-control" ng-model="newUser.firstname"/>
        </div>
        <div class="form-group">
            <label>lastname</label>
            <input type="text" class="form-control" ng-model="newUser.lastname"/>
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" ng-model="newUser.email"/>
        </div>
        <div class="form-group">
            <label>mobile</label>
            <input type="text" class="form-control" ng-model="newUser.mobile"/>
        </div>

        <button type="button" class="btn btn-success" ng-click="addUser()">save</button>
        <button type="button" class="btn btn-success" ng-click="closeRegister()">cancel</button>

    </form>


</div>