<div class="container-fluid">
    <div class="jumbotron">
    <h3>make transfer</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label>choose from account</label>
                <input type="text" class="form-control" ng-model="fromType"/>
            </div>
            <div class="form-group">
                <label>choose to account</label>
                <input type="text" class="form-control" ng-model="toType"/>
            </div>

            <div class="form-group">
            <label>amount</label>
            <input type="text"  class="form-control" ng-model="transferMoney">
            </div>

            <!--<div class="form-group">-->
                <!--<label>amount</label>-->
                <!--<input type="text" class="form-control" ng-model="transferAmount.amount">-->
            <!--</div>-->

            <div>
                <button type="button" class="btn btn-success" ng-click="makeTransfer()" >make transfer</button>
                <button type="button" class="btn btn-success" ng-click="closeRegister()">cancelll</button>
            </div>


        </form>

    </div>
</div>
