<div class="container-fluid">
    <div class="jumbotron">
    <h3>make transfer</h3>
        <form class="form-horizontal">
            <p>transfer from</p>
            <div class="form-group" ng-hide="true">
                <label>account id</label>
                <input type="text" class="form-control" ng-model="myAccount.accountid">
            </div>
            <div class="form-group">
                <label>account type</label>
                <input type="text" class="form-control" ng-model="myAccount.accounttype">
            </div>
            <div class="form-group">
                <label>account number</label>
                <input type="text" class="form-control" ng-model="myAccount.accountnumber">
            </div>
            <div class="form-group">
                <label>account balance</label>
                <input type="text" class="form-control" ng-model="myAccount.accountbalance">
            </div>

            <!--<div>-->
                <!--<button type="button" class="btn btn-success" ng-click="saveAccount()" >save account</button>-->
                <!--<button type="button" class="btn btn-success" ng-click="closeRegister()">cancelll</button>-->
            <!--</div>-->
            <p>transfer to</p>

        </form>

    </div>
</div>